* {
    text-align: center;
    background-color: beige;
}

.container {
    margin-top: 150px;
    display: flex;
    gap: 35px;
    justify-content: center;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 10px;
}

.add-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#confirm-button {
    padding: 10px 20px;
    border-radius: 5px;
}


.books {

    border: 1px solid rgb(0, 0, 0);
    padding: 25px 60px;
    border-radius: 5px;
    font-size: 25px;

}

.remove {
    background-color: red;
    color: white;
    position: relative;
    left: 115px;
    bottom: 29px;
    font-size: 10px;
    font-weight: bold;
}

.read-button {

    background-color: red;
    color: white;
    position: relative;
    right: 155px;
    bottom: -23px; 
    font-size: 10px;
    font-weight: bold;

}